body {
	margin-top: 0;
	background-color: #f7f7f7;
	min-width: :500px;
}

.wrapper{
	width:100%;
	height:100%;
}
.site-message{
	text-align: center;
}
.menu-bar{
	width:100%;
	height:60px;
	top: 0;
	left: 0;
	border-bottom: 1px solid black;
	display:table;

}
.menu-bar ul {
	overflow: hidden;
	display:table-cell;
	padding:20px;
}
.menu-bar ul li{
	float:left;
	padding:10px;
	display:table-cell;
	vertical-align: middle;


}
.login-button{
	position: absolute;
	right:0;
	top:0;
}
.float-right{
	float:right !important;
}
.float-left{
	float:left !important;
}

.footer{
	width:100%;
	height:200px;
	border-top: 1px solid black;
}