.intro-section{
	padding:5%;
	overflow: hidden;
}
.title-wrapper{
	float: left;	
}
.my-picture{
	float:right;
}
.aboutMe-section{
	padding: 5%;
	overflow: hidden;
	background-color: #fff;
}
.whatIDo-section{
	padding:5%;

}

.skill-box{
	width:30%;
	padding:1.515%;
	margin:auto;
	float:left;
	text-align: center;
}
.skill-table {
	width:80%;
	margin:auto;
	overflow: hidden;
}
.section-title{
	text-align: center;
}